body {
  font-family: Roboto, sans-serif;
}

.container {
  height: 100vh;
  padding: 120px;
}

.container h1 {
  text-align: center;
  font-size: 50px;
}

/*
skill
*/
.carousel {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  transform: rotateX(-20deg) translateY(-70px);
  transform-style: preserve-3d;
  perspective: 800px;
  user-select: none;
  cursor: grab;
}

.carousel-image {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -100px 0 0 -100px;
  width: 200px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.carousel-image img {
  max-width: 80%;
  max-height: 80%;
  object-fit: contain;
  flex-shrink: 0;
}

.carousel-image .Schedule {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 1.5rem; /* 約24px */
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
}

.skills-section {
  padding: 60px 0;
  text-align: center;
}

.skills-title {
  font-size: 2.5rem;
}


.skills-container {
  display: flex;
  align-items: center;
}

.skill-column {
  flex: 1;
}



@media (max-width: 600px) {
  .carousel {
    transform: rotateX(-10deg) scale(.6) translateY(-60px);
  }
}